<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
    <label>Email</label>
    <input type="email" name="email">
  </p>

  <p>
    <label>Password</label>
    <input type="password" name="password">
  </p>

  <button>Login</button>
</form>

<p>Don't have an account? <a href="/signup">Sign Up</a></p>

