<h1 class="mb-4">Signup</h1>

<form action="/users" method="post" class="container w-50">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" required autocomplete="new-username" class="form-control">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" required autocomplete="new-email" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" required autocomplete="new-password" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
