<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    
    <% if session["user_id"] %>
      <%= link_to "Logout", "/logout", method: :delete %>
    <% else %>
      <%= link_to "Login", "/login" %>
      <%= link_to "Signup", "/signup" %>
    <% end %>
  </nav>

  <%= yield %>  <!-- This is where your views are inserted -->

</body>
</html>
